* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  counter-reset: count 0;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeSpeed;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  color: rgba(22, 24, 35, 1);
  direction: ltr;
  overscroll-behavior: contain;
  -webkit-font-smoothing: antialiased;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.box {
  $size: 15rem;
  width: $size;
  height: $size;
  line-height: $size;

  border-radius: 4px;
  color: #fff;
  background-color: #ccc;

  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;

  &::before {
    counter-increment: count 1;
    content: counter(count);
  }
}
